@page "{restaurantID:Int}"
@model VikLearnsToCook.Pages.Restaurants.DeleteModel
@{
    ViewData["Title"] = "Delete";
}


<h2>Delete!</h2>
<div class="alert alert-danger">
    Are you sure you want to delete @Model.Restaurant.Name ?
</div>
<form method="post" class="">
    <button type="submit" class="btn btn-danger">YES !</button>
    <a asp-page="List" class="btn btn-outline-primary">Cancel</a>
</form>