@page
@model VikLearnsToCook.Pages.Restaurants.NotFoundModel
@{
    ViewData["Title"] = "Not Found";
}

<h2>Your Restaurant was not found</h2>
<a asp-page="./List" class="btn btn-secondary">See All</a>